body{
    background-color: rgb(0, 0, 0);
}
.table{
    background-color: rgb(34, 32, 32);
}
.img{
    background-color: black;
}
.img h3{
    position:absolute; top: 480px; margin: 180px; ; color: rgb(176, 252, 252)  ;
}
.img h1{
position:absolute; top: 530px; margin: 100px; ; color: white  ;
}
.main{
    
}
.main h1{
    color:white;
}
.main p{
    color: rgb(139, 139, 139);
}

.service{
    color: white;
}
.services{
    color: rgb(139, 139, 139);
}
.ico{
    color: rgb(176, 252, 252) ;
}